<header class="header">
    <div class="container header-container">

    <a href="#" class="header__logo">
        <img src="images/MoGo_Logo.png" alt="MoGo" class="site-logo__img">
    </a>


    <div class="nav-wrap">
    <nav class="nav">
        <ul class="nav__list list">

            <li class="nav__item">
                <a href="#" class="nav__link">About</a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">service</a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">work</a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">blog</a>
            </li>

            <li class="nav__item">
                <a href="#" class="nav__link">contact</a>
            </li>              

        </ul>
    </nav>

    <div class="basket">
        <a href="#" class="basket__link">
            <img src="./images/header_icons/basket.png" alt="" class="basket__icon">
        </a>
    </div>

    <div class="search">
        <a href="#" class="search__link">
            <img src="./images/header_icons/search.png" alt="" class="search__icon">
        </a>
    </div>
</div>
</div>
</header>