<section class="services container">

    <h2 class="section-title-1">We work with</h2>
    <h2 class="section-title-2 section-title-2__after">Amazing Services</h2>

    <ul class="service-list list">

        <li class="services-list__item services-list__item--alarm">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>

        <li class="services-list__item services-list__item--line">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>

        <li class="services-list__item services-list__item--computer">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>

        <li class="services-list__item services-list__item--book">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>

        <li class="services-list__item services-list__item--home">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>

        <li class="services-list__item services-list__item--image">
            <p class="services-list__title">Photography</p>
            <p class="services-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </li>
    </ul>
</section>
