<ul class="social-list list">

    <li class="social-list__item">
        <a href="" class="social-list__link">
            <svg width="16px" height="32px">
                <use class="social-list__icon" href="../../images/social-icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
        </a>                                    
    </li>

    <li class="social-list__item">
        <a href="" class="social-list__link">
            <svg width="32px" height="32px">
                <use class="social-list__icon" href="../../images/social-icons/symbol-defs.svg#icon-instagram"></use>
            </svg>   
        </a>                                 
    </li>

    <li class="social-list__item">
        <a href="" class="social-list__link">
            <svg width="26px" height="32px">
                <use class="social-list__icon" href="../../images/social-icons/symbol-defs.svg#icon-pinterest"></use>
            </svg>
        </a>                                    
    </li>

    <li class="social-list__item">
        <a href="" class="social-list__link">
            <svg width="38px" height="32px">
                <use class="social-list__icon" href="../../images/social-icons/symbol-defs.svg#icon-twitter"></use>
            </svg>    
        </a>                                
    </li>
</ul>