 <!-- TEAM -->

 <section class="team container">

    <h2 class="section-title-1">Who we are</h2>
    <h2 class="section-title-2 section-title-2__after">Meet our team</h2>

    <p class="team__about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </p>

    <ul class="team__list list">
        <li class="team__item">

            <div class="img-wrap">
                <img     
                src="../images/Mathew_Dix.png"
                sizes="380px"
                height="470"
                srcset="./images/Mathew_Dix.png 380w, ./Mathew_Dix@2x.jpg 760w"
                alt="Mathew Dix" 
                class="team__member-photo">

                <div class="overlay">

                    //='team__social-list.html'

                </div>

            </div>

            <p class="team__member-name">Matthew Dix</p>
            <p class="team__member-position">Graphic Design</p>           

        </li>

        <li class="team__item">

            <div class="img-wrap">
                <img 
                src="../images/Christopher_Campbell.png"
                sizes="380px"
                height="470"
                srcset="./images/Christopher_Campbell.png 380w, ./Christopher_Campbell@2x.jpg  760w"
                alt="Christopher Campbell" 
                class="team__member-photo">

                <div class="overlay">

                    //='team__social-list.html'

                </div>

            </div>

            <p class="team__member-name">Christopher Campbell</p>
            <p class="team__member-position">Branding/UX design</p>           

        </li>

        <li class="team__item">

            <div class="img-wrap">
                <img 
                    src="../images/Michael_Fertig.png"
                    sizes="380px"
                    height="470"
                    srcset="./images/Michael_Fertig.png 380w, ./Michael_Fertig@2x.jpg  760w"
                    alt="Michael Fertig" 
                    class="team__member-photo">

                <div class="overlay">

                    //='team__social-list.html'

                </div>
            </div>

            <p class="team__member-name">Michael Fertig</p>
            <p class="team__member-position">Developer</p>           

        </li>
    </ul>

</section>        
